@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px; 
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    height: 470px;
    width: 263px;
}
section#redes_sociais >a >img{
    width: 50px;
    margin: 10px;
    border-radius: 200px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.404);

}
section>a>img#home{
    position: relative;
    top: 50px;
    left: 850px;
}
section>a>img#YT{
    position: relative;
    top: 120px;
    left: 775px;

}
section>a>img#git{
    position: relative;
    top: 190px;
    left: 702px;

}
section>a>img#insta{
    position: relative;
    top: 260px;
    left: 629px;

}
section>a>img#tu{
    position: relative;
    top: 330px;
    left: 554px;

}
section>a>img#face{
    position: relative;
    top: 398px;
    left: 480px;

}